<div>
  <div class="myitem">
    <div id='box1' class='jxgbox' style='width:95%; height:500px; margin:auto;'></div>
  </div>

  <div class="noheight">

     <a href="{{ page.link2 }}">
    <h1>riemann</h1>
    </a>
    <button onclick="hideshow1()">Show / Hide Code</button>
    <br>

      <div id="examplecode1" class="noheight nopadding" style="display:none">
{% highlight js %}
board = JXG.JSXGraph.initBoard('box', {boundingbox: [-0.02631578947368421, 1.0263157894736843, 1.2894736842105263, -0.02631578947368421]});

v
paint();
{% endhighlight %}

      </div>
      <script type='text/javascript'>
      function hideshow1() {
        var x = document.getElementById("examplecode1");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
      }
      </script>
    </div>
</div>


<div>
  <div class="myitem">
    <div id='box2' class='box0' style='width:95%; height:500px; margin:auto;'></div>
  </div>

  <div class="noheight">
        <a href="{{ page.link2 }}">
    <h1>sinus</h1>
    </a>
    <button onclick="hideshow2()">Show / Hide Code</button>
    <br>

      <div id="examplecode2" class="noheight nopadding" style="display:none">
{% highlight js %}
board = JXG.JSXGraph.initBoard('box', {boundingbox: [-0.02631578947368421, 1.0263157894736843, 1.2894736842105263, -0.02631578947368421]});

v
paint();
{% endhighlight %}

      </div>
      <script type='text/javascript'>
      function hideshow2() {
        var x = document.getElementById("examplecode2");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
      }
      </script>
    </div>
</div>


<div>
  <div class="myitem">
    <div id='box3' class='jxgbox' style='width:95%; height:500px; margin:auto;'></div>
  </div>

  <div class="noheight">

    <a href="{{ page.link2 }}">
    <h1>infinity</h1>
    </a>
    <button onclick="hideshow3()">Show / Hide Code</button>
    <br>

      <div id="examplecode3" class="noheight nopadding" style="display:none">
{% highlight js %}
board = JXG.JSXGraph.initBoard('box', {boundingbox: [-0.02631578947368421, 1.0263157894736843, 1.2894736842105263, -0.02631578947368421]});

v
paint();
{% endhighlight %}

      </div>
      <script type='text/javascript'>
      function hideshow3() {
        var x = document.getElementById("examplecode3");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
      }
      </script>
    </div>
</div>


<script type="text/javascript">
var brd1 = JXG.JSXGraph.initBoard('box1', {axis:true, boundingbox: [-8, 4, 8, -4]});
var s = brd1.create('slider',[[1,3],[5,3],[1,10,50]],{name:'n',snapWidth:1});
var a = brd1.create('slider',[[1,2],[5,2],[-10,-3,0]],{name:'start'});
var b = brd1.create('slider',[[1,1],[5,1],[0,2*Math.PI,10]],{name:'end'});
var f = function(x){ return Math.sin(x); };
var plot = brd1.create('functiongraph',[f,function(){return a.Value();}, function(){return b.Value();}]);

var os = brd1.create('riemannsum',[f,
    function(){ return s.Value();}, function(){ "left";},
    function(){return a.Value();},
    function(){return b.Value();}
    ],
    {fillColor:'#ffff00', fillOpacity:0.3});

brd1.create('text',[-6,-3,function(){ return 'Sum='+(JXG.Math.Numerics.riemannsum(f,s.Value(),"left".value,a.Value(),b.Value())).toFixed(4); }]);
</script>

<script type="text/javascript">
var brd2 = JXG.JSXGraph.initBoard('box2', {boundingbox: [-6, 6, 10, -8]});
brd2.suspendUpdate();
var S = brd2.create('slider', [[-5,-6],[5,-6],[0,0.95,1]], {name:'S'});
var hue = brd2.create('slider', [[-5,-7],[5,-7],[0,8,36]], {name:'color'});
var points = new Array();
points[0] = brd2.create('point',[5, 5], {name:' '});
points[1] = brd2.create('point',[-5, 5], {name:' '});
points[2] = brd2.create('point',[-5, -5], {name:' '});
points[3] = brd2.create('point',[5, -5], {name:' '});

function quadrangle(pt, n) {
    var col;
    var arr = new Array();
    for(var i = 0; i < 4; i++) {
        arr[i] = brd2.create('point',
            [function(t) {
                return function () {var x = pt[t].X();
                                var x1 = pt[(t+1)%4].X();
                                var s = S.Value();
                                return x+(x1-x)*s;
                         }}(i),
             function(t) {
                return function () {var y = pt[t].Y();
                                var y1 = pt[(t+1)%4].Y();
                                var s = S.Value();
                                return y+(y1-y)*s;
                         }}(i)
            ],
            {size:1, name:"",withLabel:false,visible:false});
    }
    col =  function(){return JXG.hsv2rgb(hue.Value()*n,0.7,0.9);};
    brd2.create('polygon',pt, {fillColor:col});
    if(n>0)
        quadrangle(arr, --n);
   }
quadrangle(points,30);
brd2.unsuspendUpdate();
</script>

<script type="text/javascript">
brd3 = JXG.JSXGraph.initBoard('box3', {axis:true, boundingbox: [-6, 3, 8, -3]});
brd3.suspendUpdate();
brd3.create('functiongraph', [function(t){ return Math.sin(t); },-10, 10],{strokeColor: "#cccccc"});
var s = brd3.create('slider', [[0.75,-1.5],[5.75,-1.5],[0,0,10]], {name:'S',snapWidth:1});
brd3.create('functiongraph', [
  function(t) {
    var val = 0, i, sv = s.Value()+1;
    for(i = 0; i < sv; i++) {
      val = val + Math.pow(-1, i) * Math.pow(t, 2 * i + 1) / JXG.Math.factorial(2*i+1);
    }
    return val;
  }, -10, 10], {strokeColor: "#bb0000"});
brd3.unsuspendUpdate();
</script>
